;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

;;
;; Either use the http/https proxy
;; or
;; the cache

;; START PROXY
;;proxy=http://localhost:3128/
;;https-proxy=http://localhost:3128/
;; END PROXY

;; START CACHE
;; See http://spwest.corp.halliburton.com/sites/ConfigMgmt/SitePages/NPM%20docs/Client%20configuration.aspx
;;_auth = aGI1NTY4MzpBUDR6QXVBTUxnQXpyUExWcW1lb2lIWDJ6RTI=
;;always-auth = true
;;email = Jody.Winston@halliburton.com
;;registry=https://cmartifacts3.lgc.com/artifactory/api/npm/npm-all
;; END CACHE

prefix=${HOME}/Tools/${FULLNAME}/npm
